.idea
.DS_Store
/stns-backend/*/.terraform
/stns-backend/*/terraform.d
/stns-backend/*/generated
/stns-backend/*/backend.tf
/stns-backend/*/*.tfvars
/stns-backend/*/*.tfvars.*
/stns-backend/*/*.tfstate
/stns-backend/*/*.tfstate.*

/stns-backend/lambroll/*/function.zip
