.idea
.vscode/*.log
.DS_Store
/stns-backend/*/.terraform
/stns-backend/*/terraform.d
/stns-backend/*/generated
/stns-backend/*/backend.tf
/stns-backend/*/*.tfvars
/stns-backend/*/*.tfvars.*
/stns-backend/*/*.tfstate
/stns-backend/*/*.tfstate.*

/stns-backend/lambroll/*/function.zip
/stns-backend/lambroll/*/.envrc

/stns-client/create/*/.terraform
/stns-client/create/*/terraform.d
/stns-client/create/*/generated
/stns-client/create/*/backend.tf
/stns-client/create/*/*.tfvars
/stns-client/create/*/*.tfvars.*
/stns-client/create/*/*.tfstate
/stns-client/create/*/*.tfstate.*
